//Typo
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700");

//Colors
:root {
    --primary: hsl(213, 96%, 18%);
    --secondary: hsl(243, 100%, 62%);
    --tertiary: hsl(228, 100%, 84%);
    --light: hsl(206, 94%, 87%);
    --dark: hsl(354, 84%, 57%);
}

//Fonts
$font-01: "Ubuntu",
sans-serif;

//Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1620px;
