/* *********************** global *********************** */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;

    &:focus {
        outline: 0;
    }
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    font: normal 1.6rem / 1.4 $font-01;
    background-color: aliceblue;
}

.wrapper {
    background-color: white;

    .wizard-navigation {}
}